@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
}
/* header */
.material-icons{
    color: rgb(96, 96, 96);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}
.header_left{
    display:flex;
    align-items: baseline;
}
.header_left img{
    width: 100px;
    margin-left: -250px;
}
.header span{
    padding: 0px 7px;
    cursor: pointer;
}
.header_search form{
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
    size: 50%;
}
.header_search input{
    width: 550px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.header_search button{
    padding: 0;
    margin: -5;
    height: 100%;
    border: none;
    border-radius: 0;
}

.mainbody{
    height: calc(100vh - 60px);
    overflow: hidden;
    display:flex;
}
.sidebar{
    height: 106%;
    width: 200px;
    overflow-y: scroll;
    background-color: white;
}
.sidebar_category{
    width: 100%;
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 0px;
}
.sidebar_category span{
    margin-left: 10px;
}
.sidebar_category:hover{
    cursor: pointer;
    background: lightgrey;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
hr{
    height: 2px;
    background: lightgrey;
    border:none;
}

.video_section{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    overflow-y: scroll;
    border-top: 2px solid white;
}
.videos_container{
    display: flex;
    flex-direction: low;
    justify-content: space-around;
    flex-wrap: wrap;
}
.video{
    width: 320px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.video_thumbnail{
    width: 100%;
    height:170px;
}
.video_thumbnail img{
    object-fit: cover;
    height:100%;
    width: 100%;
}
.auther img{
    object-fit: cover;
    border-radius: 50%;
    height:40px;
    width: 40px;
    margin-right: 10px;
}
.owner img{
    height:80px;
    width:80px;
}
.video_details{
    display:flex;
    margin-top: 10px;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h3{
    color:black;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}
h1{
    font-size: 20px;
    margin-bottom: 10px;
    color:rgb(96, 96, 96);
}

@media (max-width: 420px){
    .header_search{
        display:none;
    }
    .sidebar{
        display: none;
    }
}